media-control
  background globe-back-gray
  position absolute
  bottom 0px
  left 0px
  right 0px
  height media-bar-height
  margin 0px 0px 0px left-width
  .play-pause
    width media-bar-height - 7
    height media-bar-height - 7
    absolute top 7px left 7px
  .slider-ct
    margin 12px 15px 0px media-bar-height + 10
  img
    cursor pointer
    width 36px
