global-reset()

border-color = #979797
light-gray = #d9dadb
dark-gray = #212b35
globe-back-gray = #2a3643
blue = #4a90e2
left-width = 30%
media-bar-height = 49px

*
  box-sizing border-box
body
  background globe-back-gray
  color #e9eaeb
  font-family Calibri, Helvetica, sans-serif

@import "v5/slider"

@import "v5/left-list"
@import "v5/globe-control"
@import "v5/media-control"
